# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE specific
.idea/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log

# Compiled files
*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse specific
.classpath
.project
.settings/
.springBeans

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ specific
out/
gen/

# VS Code specific
.vscode/
