<hibernate-configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://www.hibernate.org/xsd/hibernate-configuration/hibernate-configuration-4.0.xsd">
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://mysql:3306/employees</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <mapping class='io.github.singhalmradul.entity.AbstractEntity' />
        <mapping class='io.github.singhalmradul.entity.Announcement' />
        <mapping class='io.github.singhalmradul.entity.Attendance' />
        <mapping class='io.github.singhalmradul.entity.Department' />
        <mapping class='io.github.singhalmradul.entity.Employee' />
        <mapping class='io.github.singhalmradul.entity.LeaveApplication' />
        <mapping class='io.github.singhalmradul.entity.Meeting' />
        <mapping class='io.github.singhalmradul.entity.Shift' />
        <!-- <mapping package='io.github.singhalmradul.entity' /> -->
    </session-factory>
</hibernate-configuration>